* {
    box-sizing: border-box;
}

body {
    direction: rtl;
    text-align: right;
    font-family: 'Arial (Hebrew)', Arial, Helvetica, sans-serif;
}

header {
    height: 105px;
    width: 100%;
    margin: auto;
    background-image: linear-gradient(#909090 85%, #909090 15%, #aaaaaa);
    /* width: 100%; */
    text-align: center;
    position: relative;
}

#search {
    position: absolute;
    left: 220px;
    top: 20px;
}

#search>a {
    font-size: 12px;
    color: white;
    text-decoration-line: none;
}

#input-search {
    border-top-right-radius: 10px;
}

nav {
    width: 900px;
    margin: auto;
    display: flex;
    display: inline-block;
}

nav>ul {
    padding-right: 0px;
    margin: auto;
    display: flex;
    flex-grow: 1;
    padding-top: 70px;
}

li {
    list-style: none;
}

header>nav>ul>li {
    display: inline-block;
    flex-grow: 1;
}

header>nav>ul>li>a,
.dropdown-content>li>a {
    display: block;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    font-weight: bold;
    text-decoration-line: none;
}

header>nav>ul>li>a:hover,
.dropdown-content>li>a:hover {
    color: #005ca0;
    text-decoration-line: underline;
}

#logo {
    position: relative;
    top: -40px;
}

.dropdown {
    position: relative;
}

.dropdown-content {
    background-image: linear-gradient(#aaaaaa, #909090 15%, #909090 85%);
    position: absolute;
    top: 20px;
    display: none;
    padding: 0px;
    /* margin-top: 5px; */
}

.dropdown-content>li {
    border-bottom: 1px solid #aaaaaa;
}

.dropdown:hover>.dropdown-content {
    display: block;
}

.dropdown-content>li>a {
    padding: 5px;
    width: 150px;
    text-align: right;
}

#main {
    width: 900px;
    margin: auto;
}

main {
    display: flex;
}

.main {
    width: 33%;
    height: 355px;
    display: inline-block;
    margin: 30px 5px 10px 5px;
    border-bottom-right-radius: 20px;
    padding: 230px 8px 5px 30px;
}

#main-left {
    background: url("images/main-left.jpg");
}

#main-right {
    background: url("images/main-right.jpg");
}

#main-center {
    background: url("images/main-center.jpg");
}

.over-text {
    display: inline-block;
    background-color: #87898a;
    border-bottom-right-radius: 20px;
    opacity: 0.9;
    color: white;
    padding: 10px 10px 5px 10px;
    font-size: 13px;
}

.over-text>p>a {
    color: white;
    display: block;
    float: left;
}

.over-text>p>a:hover,
#section-center>div>a:hover,
#section-right>div>a:hover,
#section-left>ul>li>a:hover,
#search>a:hover {
    color: #00549b;
}

.h3 {
    font-size: 14px;
    font-weight: bold;
    display: block;
}

p {
    margin: 5px;
}

section {
    display: flex;
}

.section {
    width: 33%;
    height: 216px;
    margin: 30px 5px 10px 5px;
    background-image: linear-gradient(#fefefe, #ececec);
    border: 1px solid #cdcdcd;
    border-top-right-radius: 20px;
    display: flex;
    padding: 0px 20px 5px 20px;
    flex-direction: column;
}

h2 {
    font-size: 14px;
    color: #575757;
    margin-bottom: 5px;
}

.section>div:first-child {
    border-bottom: 1px solid #eaeaea;
    margin-bottom: 15px;
}

.section>div>a,
#section-left>ul>li>a {
    color: #72716d;
    font-size: 13px;
    float: left;
}

.section>div:last-child {
    margin-top: 15px;
}

#section-left {
    margin: 0px;
    width: 100%;
}

#map {
    float: left;
    margin: -15px 0px 0px 15px;
}

.float-left {
    float: left;
    padding-top: 3px;
}

#section-left>ul>li {
    width: 40px;
}

#section-left>ul>li>a {
    float: none;
}

#section-left>ul {
    margin: 0px;
    padding: 0px;
}


/* change image in the link */

.link-image {
    /* width: 130px;
    height: 195px; */
    position: relative;
    display: block;
    /* margin: 50px; */
}

.link-image .link-image-blue {
    display: none;
    position: absolute;
    top: 3px;
    left: 0;
    z-index: 99;
}

.link-image:hover .link-image-blue {
    display: inline;
}


/* end of change */

footer {
    width: 100%;
    position: fixed;
    bottom: 0px;
    text-align: center;
    padding: 8px 0px 8px 0px;
    background-image: linear-gradient(#aaaaaa, #909090 15%, #909090 85%);
}

footer,
footer>a {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    text-decoration-line: none;
    border: 1px solid green;
}

footer>a:last-child {
    color: red;
}